@page
@model projekt_SBD.Pages.Wizyty.IndexModel

@{
    ViewData["Title"] = "Wizyty";
}

<h1>Wizyty</h1>

<p>
    <a asp-page="Create">Dodaj wizytę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wizyta[0].DataGodzina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wizyta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataGodzina)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WizytaId">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.WizytaId">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.WizytaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
