@page
@model projekt_SBD.Pages.Uslugi.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usluga</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga.UslugaNazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usluga.UslugaNazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga.Cena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usluga.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usluga.UslugaId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
