@page
@model projekt_SBD.Pages.Asystenci.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asystent[0].Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asystent[0].DrugieImie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asystent[0].Nazwisko)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Asystent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugieImie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AsystentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AsystentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AsystentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
