@page
@model projekt_SBD.Pages.Pacjenci.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Pacjent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Imię
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.Imie)
        </dd>
        <dt class="col-sm-2">
            Nazwisko
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            Numer telefonu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.NumerTelefonu)
        </dd>
        <dt class="col-sm-2">
            Nr PESEL
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.PESEL)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Uczulenia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.uczulenia)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaAlergenu)
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Choroby
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.choroby)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazwaChoroby)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pacjent.PacjentId">Edytuj</a> |
    <a asp-page="./Index">Powrót</a>
</div>
