@page
@model projekt_SBD.Pages.AsystenciGodzinyPracy.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Asystent - godziny pracy</h4>
    <h3>@Model.asystentSurnameName</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Dzień:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.poczatekDzienPracy)
        </dd>
        <dt class="col-sm-2">
            Początek:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.poczatekGodzina)
        </dd>
        <dt class="col-sm-2">
            Koniec:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.koniecGodzina)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AsystentGodzinyPracy.ZmianaId">Edytuj</a> |
    <a asp-page="/Asystenci/Index">Powrót</a>
</div>
