@page
@model projekt_SBD.Pages.AsystenciGodzinyPracy.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AsystentGodzinyPracy[0].Poczatek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsystentGodzinyPracy[0].Koniec)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AsystentGodzinyPracy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Poczatek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koniec)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZmianaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ZmianaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZmianaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
